/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Colors */

:root {
  --primary_color: rgb(250, 70, 22);
  --primary_color_dark: rgb(175, 50, 15);
  --secondary_color: rgb(189, 189, 189);

  --light_color: white;
  --dark_color: black;
}

/* General */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 20px;
  color: var(--dark_color);
}

* {
  box-sizing: inherit;
}

body {
  min-width: 280px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-flow: column nowrap;
}

.page_width {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary_color);
}

h2 {
  margin: 0;
  font-size: 1.4rem;
  color: var(--primary_color);
}

h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--primary_color);
}

p {
  margin: 0 0 10px 0;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--primary_color);
}

a:hover {
  text-decoration: none;
}

a:active {
  color: var(--primary_color_dark);
}

/* Header */

.page_header {
  background-color: var(--primary_color);
  color: var(--light_color);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  box-shadow: 3px 3px 3px var(--secondary_color);
}

.header_content {
  min-height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
}

.header_logo {
  flex: none;
}

.header_navigation {
  font-weight: 500;
}

.header_navigation ul {
  padding: 0 0 0 10px;
  font-size: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.header_navigation ul li {
  box-sizing: inherit;
  background-color: inherit;
  min-width: 135px;
}

.header_navigation ul li a {
  padding: 5px 0 0 10px;
  border-bottom: 5px solid var(--primary_color);
  width: 100%;
}

.header_navigation ul li a:hover,
.header_navigation ul li a:active {
  border-bottom: 5px solid var(--light_color);
  color: inherit;
  background-color: inherit;
}

.header_navigation ul li a:active {
  background-color: var(--primary_color_dark);
}

.header_navigation ul li .selected {
  background-color: var(--light_color);
  color: var(--primary_color);
  border-bottom: 5px solid var(--primary_color);
}

/* Navigation List */

.navigation_list ul {
  margin: 0;
  display: flex;
  list-style: none;
}

.navigation_list ul li a {
  display: block;
  box-sizing: inherit;
  text-decoration: none;
  color: inherit;
}

/* Page Content */

.page_body {
  display: flex;
  flex: 1;
}

.page_content {
  flex: 1;
  padding: 0 10px 0px 10px;
}

.content_featured_image {
  width: 100%;
  margin-bottom: 5px;
}

/* Post Loop */

.content_preview_post {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--secondary_color);
  margin-bottom: 10px;
}

.content_preview_post:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.preview_post_image {
  flex: none;
  min-width: 250px;
  width: 33%;
}

.preview_post_text {
  flex: 1;
  padding-left: 10px;
}

/* Sidebar */

.page_sidebar {
  flex: none;
  width: 300px;
  padding: 0 10px 0 10px;
}

.sidebar_navigation ul {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3rem;
  font-weight: 500;
}

.sidebar_navigation ul li {
  margin-bottom: 5px;
}

.sidebar_navigation ul li a {
  padding: 10px 20px;
  color: var(--light_color);
  background-color: var(--primary_color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--secondary_color);
}

.sidebar_navigation ul li a:hover,
.sidebar_navigation ul li a:active {
  margin-left: 10px;
}

.sidebar_navigation ul li a:active {
  background-color: var(--primary_color_dark);
}

/* Footer */

.page_footer p {
  margin: 0;
}

.page_footer li {
  list-style: none;
}

.page_footer {
  width: 100%;
  margin-top: 20px;
}

.footer_content {
  min-height: 200px;
  border-top: 3px solid var(--secondary_color);
  display: flex;
  justify-content: space-between;
}

.footer_section {
  padding: 10px;
}

@media all and (max-width: 1000px) {
  .page_width {
    width: 100%;
  }
}

@media all and (max-width: 850px) {
  .page_body {
    flex-flow: column nowrap;
    align-items: flex-end;
    align-content: flex-end;
  }
  
  .page_content {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .page_sidebar {
    flex: 1;
  }
}

@media all and (max-width: 600px) {
  .content_preview_post {
    flex-flow: column nowrap;
  }
  .preview_post_image {
    width: 100%;
  }
  .footer_content {
    flex-flow: column nowrap;
  }
  .footer_section {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .header_content {
    flex-flow: column nowrap;
    align-items: center;
  }
  .header_navigation {
    padding-top: 5px;
    width: 100%;
  }
  .header_navigation ul {
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0;
    width: 100%;
  }
  .header_navigation ul li {
    width: 100%;
  }
  .page_sidebar {
    width: 100%;
  }
}